.teach-header{
    display: flex;
    height: 70vh;
    width: 100%;
}
.teachTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(128, 128, 128, 0.144);
}
.teachTitle1{
    font-size: 2rem;
    color: rgb(10, 67, 136);
}
.teachTitle2{
    font-size: 1rem;
    color: rgb(10, 67, 136);
}
.teachTitle3{
    font-size: 0.8rem;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
}
.why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    margin-top: 10rem;
}
.why-elements{
    display: flex;
}
.why-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.paymentPolicy{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(128, 128, 128, 0.144);
    padding: 5rem;
}
.how{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.card2{
    margin-top: 10rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: #418ce14a;
}