.Navbar{
  background-color: white;
  color:rgb(10, 67, 136);
  height: 8.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 999;
  
}

.navbar-search{
  flex: 3;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 60%;
  border: 1px solid rgb(10, 67, 136);
}
.search-input{
  border: none;
  outline: none;
  width: 90%;
  height: 80%;
}
.navbar-search>.search-icon{
  color: rgb(29, 124, 207);
}

.nav-item{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.links{
  flex:3;
  display: flex;
  align-items: center;
}
.nav-left{
  flex: 1.5;
  display: flex;
  align-items: center;
}
.nav-links {
  color:rgb(10, 67, 136);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
.nav-links:hover {
  color:rgb(18, 99, 197);
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
}
.nav-logo-icon{
  padding-right: 3px;
}


