.choose-type {
    display: flex;
    justify-content: flex-start;
    gap: 40px;

}

.item-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(128, 128, 128, 0.127);
    padding: 10px;
}
.upload-video-lesson{
    display: flex;
    gap: 40px;
}
.upload-video-lesson-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.upload-video-lesson-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.upload-button{
    background-color: rgb(10, 67, 136);
    color: white;
}
.new-quiz{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.new-question{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.q-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.q-input{
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
    width: 60%;
}