.login-card {
    

}

.sign-up-options {
    display: flex;
    gap: 15px;
    margin: 20px;

}

.sign-up-option {
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    border: 2px solid #00000024;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-logo {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    object-fit: cover;

}

.line {
    margin: 20px;
}
.line hr{
    width: 50% !important;
}
.line span {
    margin-left: 10px;
    margin-right: 10px;

}

.inputs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.label1 {
    font-weight: 500;
    font-size: small;
    color: rgba(0, 0, 0, 0.596);
}

.contin {
    background-color:#4da7cc;
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 1rem !important;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 5px;
}
.back {
    background-color:#4da7cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1rem !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
.buttons{
    display: flex;
    justify-content:space-between;
}

.input {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}



input:focus {
    outline: none;
    border-bottom-color: #007bff;
}
.check{
    display: flex;
    /* justify-content: center; */
    align-items:baseline;
    gap: 10px;
}
.l{
    color: rgba(10, 67, 136, 0.773);
}
