.create-course-side-menue{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 1.5rem;
    gap: 4rem;
    /* background-color:rgba(128, 128, 128, 0.099); */
}
.create-course-side-menue-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.create-course-side-menue-section-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}
.create-course-side-menue-section-title{
    font-weight: 500;
}
.publish{
    background-color:rgb(10, 67, 136);
    color: white;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}