.enterprise-plans{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translate(-50%, -100%); /* Slide from top while horizontally centered */
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%); /* Final position: vertically centered */
    }
  }
  
  .modal-content {
    animation: slideDown 0.5s ease-out;
  }
  
